[submodule "depends/spine-runtimes"]
	path = depends/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
[submodule "depends/tiny-AES-c"]
	path = depends/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "depends/tinygltf"]
	path = depends/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "depends/assimp"]
	path = depends/assimp
	url = https://github.com/assimp/assimp.git
[submodule "depends/imgui"]
	path = depends/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
