[submodule "depends/spine-runtimes"]
	path = depends/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
	branch = 4.2
[submodule "depends/tiny-AES-c"]
	path = depends/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "depends/tinygltf"]
	path = depends/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	branch = release
[submodule "depends/assimp"]
	path = depends/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "depends/imgui"]
	path = depends/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "depends/entt-3.13.0"]
	path = depends/entt-3.13.0
	url = https://github.com/skypjack/entt.git
[submodule "depends/box2d-2.4.1"]
	path = depends/box2d-2.4.1
	url = https://github.com/erincatto/box2d.git
[submodule "depends/glfw-3.3-3.4"]
	path = depends/glfw-3.3-3.4
	url = https://github.com/glfw/glfw.git
[submodule "depends/glm"]
	path = depends/glm
	url = https://github.com/g-truc/glm.git
[submodule "depends/rapidjson"]
	path = depends/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "depends/spdlog"]
	path = depends/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "depends/eventpp"]
	path = depends/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "depends/stb"]
	path = depends/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "depends/lua"]
	path = depends/lua
	url = https://github.com/lua/lua.git
[submodule "depends/luasocket-3.0.0"]
	path = depends/luasocket-3.0.0
	url = https://github.com/lunarmodules/luasocket.git
[submodule "reference/VSEngine2.1"]
	path = reference/VSEngine2.1
	url = https://github.com/79134054/VSEngine2.1.git
